@import "colors";

.container {
    display: flex;
    flex-direction: column;
    min-height: max-content;

    .container--header {
        display: flex;
        flex-direction: row-reverse;
        
        .container--header__navbar {
            display: block;
            position:  fixed;
            width: 30px;
            height: 30px;
            background-color: white;
            border-radius: 50%;
        }
    }
}